# Pookie Musix Environment Variables Example
# Rename this file to .env and fill in the values below.

# Discord Bot Token
TOKEN=YOUR_DISCORD_BOT_TOKEN

# Discord Bot Settings
PREFIX=?p
EMBED_COLOR=#ff4b93
OWNER_ID=YOUR_DISCORD_USER_ID
GUILD_LOGS=000000000000000
LEAVE_TIMEOUT=20000
DISABLE_YOUTUBE=false

# Spotify Credentials
SPOTIFY_ID=YOUR_SPOTIFY_CLIENT_ID
SPOTIFY_SECRET=YOUR_SPOTIFY_CLIENT_SECRET

# Database
MONGO_URI=YOUR_MONGO_DB_CONNECTION_STRING

# Lavalink Node 1 Settings
NODE_NAME1=Node 1
NODE_HOST1=lavalink.jirayu.net
NODE_PORT1=443
NODE_PASSWORD1=youshallnotpass
NODE_SECURE1=true
NODE_REGIONS1=singapore
